<div class="container-xl full">

    <div class="row pt-3">
        <div class="col">
            <h5>Invites</h5>
        </div>
        <div class="col offset-md-1 offset-lg-3">
            <button class="btn btn-sm btn-outline-success float-right" (click)="createInvite()">
                <span>
                    <fa-icon icon="plus"></fa-icon> New invite
                </span>
            </button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="800" style="height: 500px">
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th class="icon"></th>
                            <th width="15%">id</th>
                            <th width="auto">roles</th>
                            <th width="20%">expires</th>
                            <th class="min text-center">
                                share
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [hidden]="!(inviteSource?.loading$ | async)">
                            <td colspanner>
                                <div class="d-flex align-items-center">
                                    <div class="spinner-grow spinner-grow-sm mr-2 bg-secondary" role="status" [style.borderRadius]="'4px'"></div>
                                    <span class="text-secondary"><em>Loading...</em></span>
                                </div>
                            </td>
                        </tr>
                        <tr [hidden]="!inviteSource?.isCurrentlyEmpty()">
                            <td colspanner><em>No invites found...</em></td>
                        </tr>
                        <tr [hidden]="inviteSource?.isCurrentlyEmpty()" *cdkVirtualFor="let invite of inviteSource">
                            <td class="icon">
                                <div (click)="remove($event, invite.id)" ngbTooltip="revoke" class="pointer">
                                    <fa-icon icon="trash" class="fa-sm"></fa-icon>
                                </div>
                            </td>
                            <td class="trunc"><span [title]="invite.id"><small>{{invite.id}}</small></span></td>
                            <td>{{invite.roles | mapList:'name':', '}}</td>
                            <td>{{invite.expiresInMs | duration:false:true}}</td>
                            <td class="min text-center">
                                <button class="btn btn-sm btn-outline-warning" (click)="copyInviteLink(invite)">Copy
                                    invite link</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>