html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: #21D4FD;
    background-image: linear-gradient(315deg, #21D4FD 0%, #B721FF 100%);

    color: white;
    /* font-family: "Roboto Light", Arial, sans-serif; */

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.title {
    font-size: 60px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 80px 1fr 4fr 100px;
    height: 100%;
    justify-items: center;
    align-items: stretch;
    grid-row-gap: 20px;
}

.all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    justify-items: center;
}

.idps {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px 16px;
}

.logo img {
    height: 80px;
}

.idp {
    
}

.pointer {
    cursor: pointer;
}

div.checkbox {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.4rem 1.25rem 0.4rem 1rem;
    margin-left: 0;
    color: #555;
    border-radius: 6px;
}

div.checkbox input {
    margin: 0 12px 0 2px;
}

div.checkbox.sm {
    padding: 0.25rem 1.25rem 0.25rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.admin {
    position: fixed;
    top: 10px;
    right: 15px;
    margin: 10px 15px;
}

#adminLoginBtn.admin {
    margin: 10px 15px;
}

.form {
    display: grid;
    padding: 10px 16px;
    width: 340px;
    background-color: #8AB4FE;
    border: 1px solid #555;
    z-index: 600;
    margin-top: -1px;
    margin-right: -1px;
    border-radius: .2rem;
}

.adminLogin {
    display:none;
}

form {
    margin-top: 3px;
}

.formtitle {
    color: whitesmoke;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}

.google_btn {
    background-image: url("assets/btn_google_signin_light_normal_web.png");
    width: 191px;
    height: 46px;
}

.google_btn:hover {
    cursor: pointer;
}

.google_btn:active {
    background-image: url("assets/btn_google_signin_light_pressed_web.png"), url("assets/btn_google_signin_light_normal_web.png");
    cursor: pointer;
}

.google_btn:focus {
    background-image: url("assets/btn_google_signin_light_focus_web.png");
    cursor: pointer;
}

.myError {
    font-size: 14px;
    font-weight: bold;
    background-color: #ffe9e999;
    padding: 0.2rem 0.75rem;
    margin-bottom: 0.4rem;
    border-radius: 5px;
}

.input-group-text {
    width: 46px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #28a745;
    background-color: #28a745;
}