@import '/src/common';

.user {
    padding: 0.4rem 0.8rem;

    display: grid;
    grid-template-areas:
        "avatar name"
        "avatar email";

    justify-content: left;
    column-gap: 12px;

    .avatar {
        grid-area: avatar;
        align-self: center;
    }

    .name {
        grid-area: name;
        font-weight: bold;
    }

    .email {
        grid-area: email;
        font-style: italic;
        font-size: small;
    }

    &.active {
        background-color: #f0f0f0;
    }

    &.hover:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }
}
