<div class="modal-header">
    <h4 class="modal-title pull-left">Client {{name}} created</h4>
    <div class="close pointer" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <ngb-alert type="warning" [dismissible]="false">
                <strong>Warning!</strong> This secret can only be viewed once. Store it somewhere safe. If you lose it,
                you can only generate a new secret!
            </ngb-alert>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <tr>
                    <th scope="row">clientId</th>
                    <td>{{clientId}}</td>
                </tr>
                <tr>
                    <th scope="row">clientSecret</th>
                    <td>{{clientSecret}}
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <button class="btn btn-sm btn-secondary" (click)="activeModal.dismiss()">Close</button>
    <div ngbDropdown placement="bottom-right">
        <button class="btn btn-sm btn-primary" id="dropdownBasic1" ngbDropdownToggle ngbAutoFocus>
            <fa-icon class="mr-2" icon="copy"></fa-icon>Copy ...
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="copyAsText()">as text</button>
            <button ngbDropdownItem (click)="copyAsJson()">as JSON</button>
            <div class="divider"></div>
            <button ngbDropdownItem (click)="copyClientId()">clientId</button>
            <button ngbDropdownItem (click)="copyClientSecret()">clientSecret</button>
        </div>
    </div>
</div>