@import '/src/common';
.media {
    display: inline-flex;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem 0.5rem;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 0 #aaa;

    img {
        height: 64px;
        border: 1px solid #888;
    }

    span.idp {
        font-size: small;
        font-weight: normal;
        color: #666;
        font-style: italic;
    }
}