<div class="container-xl full">

    <div class="row pt-3">
        <div class="col">
            <h5>Members</h5>
        </div>
        <div class="col offset-md-1 offset-lg-3 searchAndAdd">
            <form [formGroup]="searchForm">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Filter</span>
                    </div>
                    <input type="text" class="form-control" formControlName="search">
                </div>
            </form>
        </div>
    </div>
    <div class="row pt-2" *ngIf="team">
        <div class="col">
            <cdk-virtual-scroll-viewport itemSize="36" minBufferPx="200" maxBufferPx="800" style="height: 500px">
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th *ngIf="canManageTeam" class="icon"></th>
                            <th width="20%">firstname</th>
                            <th width="20%">lastname</th>
                            <th width="auto">email</th>
                            <th width="10%" class="text-center">manager
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [hidden]="!(memberSource?.loading$ | async)">
                            <td colspanner>
                                <div class="d-flex align-items-center">
                                    <div class="spinner-grow spinner-grow-sm mr-2 bg-secondary" role="status" [style.borderRadius]="'4px'"></div>
                                    <span class="text-secondary"><em>Loading...</em></span>
                                </div>
                            </td>
                        </tr>
                        <tr [hidden]="!memberSource?.isCurrentlyEmpty()">
                            <td colspanner><em>No members found...</em></td>
                        </tr>
                        <tr [hidden]="memberSource?.isCurrentlyEmpty()" *cdkVirtualFor="let m of memberSource">
                            <td *ngIf="canManageTeam" class="icon">
                                <div (click)="remove($event, m.user.id)" ngbTooltip="remove from team" class="pointer">
                                    <fa-icon icon="user-slash" class="fa-sm"></fa-icon>
                                </div>
                            </td>
                            <td>{{m.user.firstName}}</td>
                            <td>{{m.user.lastName}}</td>
                            <td>{{m.user.email}}</td>
                            <td class="text-center">
                                <div *ngIf="canManageTeam" class="btn-group btn-group-toggle btn-group-xs" ngbRadioGroup
                                    name="radioBasic" [(ngModel)]="m.manager" (change)="toggleManager(m)">
                                    <label ngbButtonLabel class="btn-outline-danger">
                                        <input ngbButton type="radio" [value]="false"> {{false|checkmark}}
                                    </label>
                                    <label ngbButtonLabel class="btn-outline-success">
                                        <input ngbButton type="radio" [value]="true"> {{true|checkmark}}
                                    </label>
                                </div>
                                <div *ngIf="!canManageTeam">
                                    <span [innerHTML]="m.manager | checkmark:true"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>