<div class="modal-header md">
    <h1 class="modal-title">{{title || 'Markdown preview'}}</h1>
    <div class="close pointer" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <div class="content md" *ngIf="md" [innerHTML]="md | markdown"></div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-end">
    <button class="btn btn-sm btn-primary" (click)="activeModal.dismiss()">Close</button>
</div>