@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/eclipse.css";
@import "/src/common";

.a-edit {
    text-decoration: underline !important;
    margin-left: 10px;
    color: #999 !important;
    cursor: pointer;
}
.a-banner {
    color: white !important;
}

.edit {
    *:first-child {
        display: inline-block;
    }
}

.edit-box {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    justify-items: right;
    column-gap: 6px;
    row-gap: 4px;

    textarea {
        grid-row: 1;
        grid-column: 1 / 3;
        width: 100%;
        height: 100px;
        border-radius: 0.2rem;
    }
    button {
        grid-row: 2;
    }
}

.thumbnail-cont {
    outline: 1px solid darkblue;
    position: relative;
    width: 280px;
    img {
        width: 100%;
    }
    div {
        background-color: rgba(0, 0, 0, 0.6);
        height: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        vertical-align: middle;
        text-align: right;
        padding-right: 6px;
        a {
            color: #ccc !important;
        }
        // width: 100%;
    }

    &:hover {
        cursor: pointer;
        div a {
            color: white !important;
        }
    }
}

.banner-cont {
    outline: 1px solid darkblue;
    position: relative;
    width: 840px;
    img {
        width: 100%;
    }
    div {
        background-color: rgba(0, 0, 0, 0.6);
        height: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        vertical-align: middle;
        text-align: right;
        padding-right: 6px;
        a {
            color: #ccc !important;
        }
        // width: 100%;
    }

    &:hover {
        cursor: pointer;
        div a {
            color: white !important;
        }
    }
}

.collapser {
    float: right;
    width: 72px;
}

.section {
    padding-top: 1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.8em;

    &:first-child {
        padding-top: 0;
    }
}

.view {
    grid-row: 1;
    grid-column: 1 / 4;
    width: 100%;
    height: 500px;
    display: grid;
    column-gap: 10px;
    row-gap: 8px;
    .framed {
        justify-self: stretch;
        border-radius: 0.2rem;
        border: 1px solid rgb(169, 169, 169);
        // padding: 0 10px;
        // overflow: auto;
        position: relative;
    }
}

button {
    grid-row: 2;
}

.single {
    grid-template-columns: 1fr;
}

.dual {
    grid-template-columns: 1fr 1fr;
}


.my-cm .CodeMirror {
    height: 100%;
    width: 100%;
    position: absolute;
}

.md {
    padding: 10px;
}