<div class="modal-header">
    <h5 class="modal-title">Export id: {{detail.id}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h6>Job details</h6>
    <table class="table table-sm">
        <tr>
            <th scope="row">Requested</th>
            <td>{{detail.requestedOn | date:'MMM d, HH:mm' }}</td>
        </tr>
        <tr>
            <th scope="row">State</th>
            <td>
                <div [ngSwitch]="detail.status.status">
                    <div *ngSwitchCase="'QUEUING'" class="text-secondary">
                        <div class="spinner-grow spinner-grow-sm text-secondary"></div> Queued
                    </div>
                    <div *ngSwitchCase="'GENERATING'">
                        <ngb-progressbar [striped]="true" [animated]="true" [value]="detail.status.recordsProcessed"
                            [max]="detail.status.recordsEstimate" type="secondary">
                            {{ detail.status.recordsProcessed >= detail.status.recordsEstimate ?
                            '&nbsp;Compressing&nbsp;' :
                            '&nbsp;Exporting&nbsp;'}}
                        </ngb-progressbar>
                    </div>
                    <div *ngSwitchCase="'CANCELED'" class="text-muted">
                        <fa-icon icon="check-circle"></fa-icon> Aborted
                    </div>
                    <div *ngSwitchCase="'COMPLETED'" class="text-muted">
                        <fa-icon icon="check-circle"></fa-icon> Complete
                    </div>
                    <div *ngSwitchCase="'FAILED'" class="text-warning">
                        <fa-icon icon="exclamation-circle"></fa-icon> Failed
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <h6>Query details</h6>
    <table class="table table-sm">
        <tr #el>
            <th scope="row">Metrics</th>
            <td class="metrics">
                <span *ngFor="let metric of getContextMetrics(detail)" class="badge badge-secondary">{{metric}}</span>
                &nbsp;
                <a class="showall" (click)="toggleMetrics()" *ngIf="isExpandable(detail)"><small>(show
                        all...)</small></a>
            </td>
        </tr>
        <!-- <tr>
          <th scope="row">Filter</th>
          <td class="metrics">
            <span *ngIf="!detail.filter"><i>-</i></span>
            <span *ngFor="let filter of detail.filter" class="badge badge-light">{{filter}}</span>
          </td>
        </tr> -->
        <tr>
            <th scope="row">Timespan</th>
            <td>{{getRange(detail)}}</td>
        </tr>
    </table>

    <h6>Export statistics</h6>
    <table class="table table-sm">
        <tr>
            <th scope="row">Export duration</th>
            <td>
                <span *ngIf="detail.status.status === 'COMPLETED'">
                    {{ getDuration(detail) | duration }}&nbsp;<small>({{getDuration(detail) | duration:true}})</small>
                </span>
            </td>
        </tr>
        <tr>
            <th scope="row">Records (amount)</th>
            <td>
                <span [innerHTML]="getRecordAmount(detail)"></span>
            </td>
        </tr>
        <tr>
            <th scope="row">Records (process rate)</th>
            <td>
                <span *ngIf="detail.status.status === 'COMPLETED'">{{(getRecordRate(detail) | number:'1.0-0':'nl-BE') +
                    '
                    records/s'}}</span>
            </td>
        </tr>
        <tr>
            <th scope="row">File size</th>
            <td>
                <span *ngIf="detail.status.status !== 'QUEUING'">
                    {{detail.result.sizeInBytes| filesize:2}}&nbsp;
                    <span *ngIf="detail.status.status === 'COMPLETED'">
                        <small>({{detail.result.compressedSizeInBytes| filesize:2 }} compressed)</small>
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <th scope="row">Write speed</th>
            <td>
                <span *ngIf="detail.status.status === 'COMPLETED'">
                    {{(getWriteSpeed(detail) | filesize:2 ) + '/s'}}&nbsp;
                    <small>({{(getWriteSpeedCompressed(detail) | filesize:2) + '/s'}} compressed)</small>
                </span>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <a *ngIf="detail.status.status === 'COMPLETED'" [downloadFile]="getDownloadUrl()" class="btn btn-sm btn-info">
        <fa-icon icon="download"></fa-icon> {{detail.result.compressedSizeInBytes | filesize:2 }}
    </a>
    <button class="btn btn-sm btn-outline-dark"
        *ngIf="detail.status.status !== 'COMPLETED' && detail.status.status !== 'FAILED'" (click)="refreshDetail()">
        <fa-icon icon="sync-alt"></fa-icon> Refresh
    </button>
    <button class="btn btn-sm btn-dark" ngbAutofocus
        (click)="activeModal.dismiss()"> Close </button>
</div>