@import '/src/common';

$shadeBrd: -2;
$shadeTxt: 0;

.user-tag {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    img {
        position: relative;
        top: 0;
        left: 0;
        border-left: 1px solid theme-color-level('secondary', $shadeBrd);
        border-top: 1px solid theme-color-level('secondary', $shadeBrd);
        border-bottom: 1px solid theme-color-level('secondary', $shadeBrd);
    }
    
    .name {
        position: relative;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        color: theme-color-level('secondary', $shadeTxt);
        border: 1px solid theme-color-level('secondary', $shadeBrd);
        padding: 0 4px;
        height: 100%;
    }
}
