<div class="container-xl full">
    <app-create-header header="Usage Limits" createTitle="Create Usage Limit" [filterSource]="usageLimitsSource">
        <form [formGroup]="usageLimitForm" (submit)="addUsageLimit()">
            <div class="row">
                <div class="col form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" formControlName="name" id="name"
                        placeholder="Usage Limit name">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col form-group">
                    <label for="description">Description <span
                            [style.color]="dLength > 80 ? 'darkorange' : 'black'">({{dLength}}/80)<span
                                *ngIf="dLength > 80"><small> [might be truncated]</small></span></span></label>
                    <textarea class="form-control" formControlName="description" id="description"
                        placeholder="Short description" rows="3"></textarea>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col">
                            <label>Hourly primitive limits</label>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> Events stored </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyPrimitiveEventsStored">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum ingested event records per hour">
                                        </app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Events queried </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyPrimitiveEventQueries">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum event records queried per hour">
                                        </app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Stats queried </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyPrimitiveStatsQueries">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum stat queries per hour"></app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Events streamed </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyPrimitiveEventsStreamed">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum event records queried per hour">
                                        </app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col">
                            <label>Hourly complex limits</label>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> Events stored </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyComplexEventsStored">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum ingested event records per hour">
                                        </app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Events queried </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyComplexEventQueries">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum event records queried per hour">
                                        </app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Stats queried </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyComplexStatsQueries">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum stat queries per hour"></app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Events streamed </span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxHourlyComplexEventsStreamed">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum event records queried per hour">
                                        </app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col">
                            <label>Additional limits</label>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Streams</span>
                                </div>
                                <input type="number" min="0" class="form-control" formControlName="maxDataStreams">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum active streams"></app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Exports</span>
                                </div>
                                <input type="number" min="0" class="form-control" formControlName="maxDataExports">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum active exports"></app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Export records</span>
                                </div>
                                <input type="number" min="0" class="form-control"
                                    formControlName="maxDataExportRecords">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <app-help placement="top" text="Maximum records per export"></app-help>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-sm btn-success float-right"
                        [disabled]="usageLimitForm.invalid">Create</button>
                </div>
            </div>
        </form>
    </app-create-header>


    <div class="row pt-3">
        <div class="col">
            <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="800" style="height: 500px">
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="icon"></th>
                            <th width="40%">name</th>
                            <th width="auto">description</th>
                            <th [style.width]="'80px'" class="text-center">default</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [hidden]="!(usageLimitsSource?.loading$ | async)">
                            <td colspanner>
                                <div class="d-flex align-items-center">
                                    <div class="spinner-grow spinner-grow-sm mr-2 bg-secondary" role="status" [style.borderRadius]="'4px'"></div>
                                    <span class="text-secondary"><em>Loading...</em></span>
                                </div>
                            </td>
                        </tr>
                        <tr [hidden]="!usageLimitsSource?.isCurrentlyEmpty()">
                            <td colspanner><em>No Usage Limits found...</em></td>
                        </tr>
                        <tr [hidden]="usageLimitsSource?.isCurrentlyEmpty()" *cdkVirtualFor="let u of usageLimitsSource" [routerLink]="u.id" class="pointer">
                            <td class="icon">
                                <div (click)="removeUsageLimit($event, u.id)" ngbTooltip="remove" *ngIf="!u.defaultLimit">
                                    <fa-icon icon="trash" class="fa-sm"></fa-icon>
                                </div>
                                <div (click)="$event.stopPropagation()" ngbTooltip="Cannot remove defaults"
                                    *ngIf="u.defaultLimit">
                                    <fa-icon icon="trash" class="fa-sm fa-disabled"></fa-icon>
                                </div>
                            </td>
                            <td>{{u.name}}</td>
                            <td class="trunc"><span>{{u.description}}</span></td>
                            <td class="icon">
                                <button class="btn btn-sm" (click)="markAsDefault($event,u.id)"
                                    [class.btn-success]="u.defaultLimit" [class.btn-outline-secondary]="!u.defaultLimit"
                                    ngbTooltip="mark as default" placement="left" container="body" #btn>{{(u.defaultLimit ||
                                    isHovering(btn)) | checkmark}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>